# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/

# Maven
target/

# Log files
*.log

# Compiled Java class files
*.class

# Tomcat
work/
temp/
logs/

# JSP precompiled pages
work/Catalina/localhost/_/

# Operating System files
.DS_Store
Thumbs.db

# Compiled Servlets
**/*.class
**/*.jar
**/*.war

# Build directories
build/
dist/